/* .pct_header{
    position: relative;
} */
.pct_header{
    background-image: url("../../assets/a_propos_img.png"); 
    background-position-y: center;
    width: 80%;
    height: 223px;
    border-radius: 30px;
    margin-bottom: 20px;
    margin-left: 150px;
    margin-right: 150px;
    @media screen and (max-width:880px) {
        margin-left: 10px;
        margin-right: 10px;
        width: 95%;
    }
}
.collaps_aboutPage{
  width: 80%;
  margin-left: auto;
  @media screen and (max-width:880px) {
    width: 120%;
    margin-left: 10px;
  }
}
.collaps_aboutPage button{
    border-radius: 5px;
    width: 80%;
    margin-bottom: 0;
    margin-left: 0;
}
.collaps_aboutPage p{
    background-color: #F6F6F6;
    width: 80%;
    margin-top: 0;
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
    border-radius: 0 0 5px 5px;
   
}