.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #F6F6F6;
    border-radius: 30px;
    padding-left: 0;
    @media screen and (max-width:880px) {
        flex-direction: column;
        background:none;
        flex-wrap: nowrap;
    }
}

.presentation{
    border-radius: 20px; 
    position: relative;
    overflow: hidden;
    z-index: 1;
    margin-bottom: 50px;
    /* background: rgba(0,0,0,0.3); */
    @media screen and (max-width:880px) {
        border-radius: 10px;
        margin-bottom: 20px;
    }
}
.presentation h1{
    color:white;
    padding: 100px;
    position: relative;
    z-index: 2;
    text-align: center;
    background: rgba(0,0,0,0.3);
    margin: 0;
    @media screen and (max-width:880px) {
        padding: 13px;
        font-size: 1.6rem;
        text-align: left;
        /* width: 60%; */
        height: 100px;
    }
}
.presentation img{
    position: absolute;
    left: 0;
    top: -140px;
    width: 100%;
    height: auto;
    
}