@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Raleway:wght@100&display=swap');
body{
    color: #FF6060;
    margin-left: 150px;
    margin-right: 150px;
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Raleway', sans-serif; */
}
a{
    text-decoration: none;
}
button{
    background-color: #FF6060;
    color:white;
    border: 1px solid #FF6060;
    margin:10px;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.right{
    float: right;
}
.left{
    float:left;
}
.profil{
    border-radius: 50%;
}
.tag{
    list-style: none;
    margin: 5px;
    padding: 5px 15px 5px 15px;
    border: 1px solid;
    border-radius: 20px;
    background-color: #FF6060;
    color: white;
    font-size: 0.7rem;
}
.tags{
    display: flex;
}
.slider{
    max-width: 90%;
}
.active_star{
    color:#FF6060
}
.noactive_star{
    color:grey;
}
.footer{
    background-color: black;
    text-align: center;
    padding: 20px;
    color:white;
    margin: 0;
    margin-top: 20px;
}
.collapse_div{
    margin-bottom: 15px;
}